
form {
  border-radius: 2%;
  padding: 16px;
  width: 320px;
  margin: 0 auto;
}

button,
input {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 8px;
  padding: 16px;
 
}
label {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}
input {
  margin-right: 8px;
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}

button {
  color: #0015ff;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

button .icon {
  margin-right: 8px;
}
button.unit {
  border-radius: 8px;
  line-height: 0;
  width: 48px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}

button.RegisterButton {
  background: #85ffa5;
color: #000;
border-radius: 10px;
font-weight: bold;
transition: all 0.2s ease-in-out;
cursor: pointer;
font-weight: 600;
height: 48px;
display: inline-flex;
justify-content: center;
align-items: center;
width: 100%;
}
button.LoginButton {
  background: #0015ff;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
::placeholder {
  color: #0015ff;
}

.input-group label {
  margin: 0;
  flex: 1;
}